{erl_opts, [debug_info]}.
{deps, [
  {ranch, "1.7.0"},
  {syn, {git, "git://github.com/ostinelli/syn.git", {tag, "1.6.3"}}},
  {beam_prometheus, {git, "https://github.com/lambdaclass/beam_prometheus_exporter.git", {ref, "af1548"}}},
  {gproc, "0.8.0"}
]}.

{relx, [{release, {mrps, "1"}, [mrps]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {sys_config, "sys.config"}
        ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]}]}.
