<?xml version="1.0"?>
<!DOCTYPE tsung SYSTEM "/usr/share/tsung/tsung-1.0.dtd">
<tsung version="1.0">
    <clients>
        <client host="localhost" use_controller_vm="true" maxusers="20000" />
    </clients>

    <servers>
        <server host="{{ server }}" port="6969" type="tcp" />
    </servers>

    <load duration="5" unit="minute">
        <arrivalphase phase="1" duration="5" unit="minute">
        	<users maxnumber="20000" arrivalrate="300" unit="second" />
    	</arrivalphase>
    </load>

    <options>
	    <option name="ports_range" min="1025" max="65535"/>
    </options>

    <sessions>
	    <session probability="100" name="raw" type="ts_raw">
            <request>
                <raw data="COUNT" ack="local"></raw>
            </request>
	    </session>
    </sessions>
</tsung>
