<?xml version="1.0"?>
<!DOCTYPE tsung SYSTEM "/usr/share/tsung/tsung-1.0.dtd">
<tsung version="1.0">
    <clients>
        <client host="localhost" use_controller_vm="true" maxusers="80000" />
    </clients>

    <servers>
        <server host="{{ server }}" port="6969" type="tcp" />
    </servers>

    <load>
        <arrivalphase phase="1" duration="10" unit="minute">
        	<users maxnumber="60000" arrivalrate="500" unit="second" />
    	</arrivalphase>
        <user session="send_msg" start_time="60" unit="second"></user>
    </load>

    <options>
	    <option name="ports_range" min="1025" max="65535"/>
    </options>

    <sessions>
	    <session probability="100" name="counters" type="ts_raw">
            <request>
                <raw data="COUNT&#10;" ack="local"></raw>
            </request>

            <for var="i" from="1" to="30" incr="1">
                <thinktime value="50" />
                <request>
                    <raw data="COUNT&#10;" ack="local"></raw>
                </request>            
            </for>
	    </session>
        <session probability="0" name="send_msg" type="ts_raw">
            <for var="i" from="1" to="120" incr="1">
                <thinktime value="5" />
                <request>
                    <raw data="SENDFOO&#10;" ack="local"></raw>
                </request>
            </for>
        </session>
    </sessions>
</tsung>
